<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="cr3_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import cr3_description urdf file -->
    <xacro:include filename="$(find cr3_description)/urdf/cr3_description.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="cr3_description.ros2_control.xacro" />


    <xacro:cr3_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
